*{
    margin: 0;
    padding: 0;
}

.navbar img{
    width: 200px;
   margin-left: 50px;

}

body{
    font-family: Flex,sans-serif;
}

.navbar{
    display: flex;
    margin-top:20px;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    gap: none;
}

.navbar__content{
    display: flex;
    gap: 30px;
    margin-right: 10px;
   
}

.navbar__globe{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 20px;
}

.navbar__globe button{
    background-color: darkgreen;
    color: white;
    border-radius: 40px;
    padding: 10px;
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.title {
    text-align: center;
    color: darkgreen;
    margin-top: 60px;
    
}

.title h1{
    font-weight: 800;
    font-size: 50px;
}

.categories{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    color: darkgreen;
    cursor: pointer;
}

.categories__1.active{
    border-bottom: 2px solid darkgreen;
    padding-bottom: 8px;
}

.search{
    margin-top: 30px;
    padding: 10px;
    border-radius: 50px;
    width: 800px;
    margin-left: 350px;
    display: flex;
    gap: 10px;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.search input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
}

.search button{
    background-color:rgb(51, 223, 51);
    color: black;
    border: none;
    border-radius: 50px;
    padding-left: 20px; 
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px; 
    font-size: 20px;
    
}

.container {
    position: relative;
    width: 1130px;
    height: 450px;
    background-color:rgb(51, 223, 51);
    border-radius: 10px;
    margin-top: 40px;
    border: 1px solid rgb(51, 223, 51);
    margin-left: 200px;
    
}

.box-left img{
    width: 570px;
    height: 400px;
    border-radius: 16px;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    cursor: pointer;
}

.box-left__tag{
    position: absolute;
    border: 2px solid black;
    border-radius: 50px;
    background-color:rgb(51, 223, 51);
    color: black;
    width: 100px;
    padding: 10px;
    left: 30px;
    bottom: 50px;
    font-size: 20px;
    cursor: pointer;
}

.divider{
    position: absolute;
    width: 2px;
    height: 420px;
    background-color: rgba(0, 0, 0, 1);
    margin: 0 30px;
    margin-left: 610px;
    top: 20px;
}

.box-right{
    position: absolute;
    display: flex;
    gap: 30px;
    flex-direction: column;
    left: 650px;
    bottom: 180px;
}

.box-right__s1{
    font-size: 20px;
}

.box-right__s2{
    font-size: 20px;
}

.box-right__s3 button{
    background-color: #143C24;
    position: absolute;
    color: white;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 50px;
    text-align: center;
    left: 150px;
    top: 250px;
}

.interests{
    margin: 190px;
    padding: 10px;
    margin-top: 50px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.interests__container{
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.interests-image__1 img{
    position: relative;
    top: -180px;
    border-radius: 10px;
    width: 275px;
    height: 275px;
    left: 200px ;
}

.interests-image__2 img{
    position: relative;
    top: -180px;
    border-radius: 10px;
    width: 275px;
    height: 275px;
    left: 200px ;
}

.interests-image__3 img{
    position: relative;
    top: -180px;
    border-radius: 10px;
    width: 275px;
    height: 275px;
    left: 200px ;
}

.interests-image__4 img{
    position: relative;
    top: -180px;
    border-radius: 10px;
    width: 275px;
    height: 275px;
    left: 200px ;
}

.interests-image__1 h2{
    position: relative;
    top: -230px;
    left: 220px;
    color: white;
}

.interests-image__2 h2{
    position: relative;
    top: -230px;
    left: 220px;
    color: white;
}

.interests-image__3 h2{
    position: relative;
    top: -230px;
    left: 220px;
    color: white;
}

.interests-image__4 h2{
    position: relative;
    top: -230px;
    left: 220px;
    color: white;
}

.singapore__container {
   
    width:300px;
}

.singapore__container{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color:whitesmoke;
    position: relative;
    bottom: 200px;
    left: 200px;
    border-radius: 6px;
    width: 1110px;
    height: 170px;
    gap: 10px;
    cursor: pointer;
}

.singapore-image img{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    transform: rotate(-10deg)
}

.singapore__text__1 {
    border:1px whitesmoke ;
    background-color: grey;
    border-radius: 3px;
    padding: 5px;
    width: 320px;
    text-align: center;
}

.singapore__text{
    position: relative;
    display: flex;
    gap: 25px;
    flex-direction: column;
    left: 10px;
}

.singapore__text__3 button{
    background-color: whitesmoke;
    color: black;
    border-radius: 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    white-space: nowrap;
    font-size: 15px;
    position: relative;
    top:50px;
}

.sivakasi__title{
    position: relative;
    margin: 190px;
    padding: 10px;
    top: -350px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    
}

.sivakasi_pic__1 img,
.sivakasi_pic__2 img,
.sivakasi_pic__3 img,
.sivakasi_pic__4 img{
    position: relative;
    width: 275px;
    height: 275px;
    border-radius: 10px;
    left: 200px;
}

.sivakasi__container{
    position: relative;
    display: flex;
    top: -500px;
}

.sivakasi__container img{
    gap: 15px;
}

.sivakasi_pic__1 h3,
.sivakasi_pic__2 h3,
.sivakasi_pic__3 h3,
.sivakasi_pic__4 h3{
    position: relative;
    left: 200px;
    word-wrap: wrap;
}

.sivakasi_pic__1 p,
.sivakasi_pic__2 p,
.sivakasi_pic__3 p,
.sivakasi_pic__4 p{
    position: relative;
    left: 200px;

}

.sivakasi_pic__4 img{
    position: relative;
    right: -20px;
}